<extend name="Public:base" />
<block name="title"><title>hello</title></block>
<block name="main">
	<div class="row">
		<div class="span5">
			<div class="widget">
				<div class="widget-header">
					<h3>通知公告</h3>
				</div>
				<div class="widget-content">
					<ul>
						<li><a href="#">注册通知</a></li>
						<li><a href="#">注册通知</a></li>
						<li><a href="#">注册通知</a></li>
						<li><a href="#">注册通知</a></li>
						<li><a href="#">注册通知</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="span4">
			<div class="widget-header">
				<h3>所属媒体</h3>
			</div>
			<div class="widget-content">
				<p>南湖新闻网 logo</p>
				<p>现有成员 ## 人</p>
				<p>目前还有多少篇投稿未处理</p>
			</div>
			
		</div>
	</div>
</block>