<!DOCTYPE html>
<html lang="ch">
    <!-- container-fluid -->
<head>
    <title>Unicorn Admin</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="__PUBLIC__/admin/css/bootstrap.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/admin/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/admin/css/fullcalendar.css" />
    <link rel="stylesheet" href="__PUBLIC__/admin/css/unicorn.main.css" />
    <link rel="stylesheet" href="__PUBLIC__/admin/css/unicorn.grey.css" class="skin-color" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>

    <include file="Public/header" />

    <include file="Public/sidebar" />

    <div id="style-switcher"> <i class="icon-arrow-left icon-white"></i>
        <span>Style:</span>
        <a href="#grey" style="background-color: #555555;border-color: #aaaaaa;"></a>
        <a href="#blue" style="background-color: #2D2F57;"></a>
        <a href="#red" style="background-color: #673232;"></a>
    </div>

    <div id="content">
        <div id="content-header">

        </div>
        <div id="breadcrumb">
            <a href="#" title="Go to Home" class="tip-bottom">
                <i class="icon-home"></i>
                Home
            </a>
            <a href="#">用户权限</a>
            <a href="#" class="current">添加编辑角色</a>
        </div>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span8">
                                        <div class="widget-box">
                                            <div class="widget-title">
                                                <span class="icon">
                                                    <i class="icon-align-justify"></i>                                  
                                                </span>
                                                <h5>添加编辑角色</h5>
                                            </div>
                                            <div class="widget-content nopadding">
                                                <form action="#" method="get" class="form-horizontal">
                                                    <div class="control-group">
                                                        <label class="control-label">角色组名称：</label>
                                                        <div class="controls">
                                                            <input type="text" name="name">
                                                            
                                                        </div>
                                                    </div>
                                                    <div class="control-group">
                                                        <label class="control-label">状态：</label>
                                                        <div class="controls">
                                                            <select name="status">
                                                                <option value="1">启用</option>
                                                                <option value="0">禁用</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="control-group">
                                                        <label class="control-label">父级组ID：</label>
                                                        <div class="controls">
                                                            <select name="pid">
                                                                <option value=""></option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="control-group">
                                                        <lable class="control-label">显示排序：</lable>
                                                        <div class="controls">
                                                            <input type="text" name="sort" />
                                                        </div>
                                                    </div>
                                                    <div class="control-group">
                                                        <label class="control-label">描述：</label>
                                                        <div class="controls">
                                                            <textarea name="remark"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="form-actions">
                                                        <button type="submit" class="btn btn-primary">Save</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>                      
                                    </div>

            </div>


            <include file="Public/footer" />
        </div>
    </div>

    <script src="__PUBLIC__/admin/js/excanvas.min.js"></script>
    <script src="__PUBLIC__/admin/js/jquery.min.js"></script>
    <script src="__PUBLIC__/admin/js/jquery.ui.custom.js"></script>
    <script src="__PUBLIC__/admin/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/admin/js/jquery.flot.min.js"></script>
    <script src="__PUBLIC__/admin/js/jquery.flot.resize.min.js"></script>
    <script src="__PUBLIC__/admin/js/jquery.peity.min.js"></script>
    <script src="__PUBLIC__/admin/js/fullcalendar.min.js"></script>
    <script src="__PUBLIC__/admin/js/unicorn.js"></script>
    <script src="__PUBLIC__/admin/js/unicorn.dashboard.js"></script>
</body>
</html>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>权限管理-后台管理-{$site.SITE_INFO.name}</title>
        <php>
            $addCss="";
            $addJs="";
            $currentNav ='权限管理 > 管理员列表';
        </php>
        <include file="Common:intoHead" />
    </head>
    <body>
        <div class="wrap">
            <include file="Common:head" />
            <div class="mainBody">
                <include file="Common:left" />
                <div id="Right">
                    <div class="Item hr">
                        <div class="current">管理员列表</div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <include file="Common:foot" />
    </body>
</html>
