<!DOCTYPE html>
<html lang="ch">
    <!-- container-fluid -->
<head>
    <title>Unicorn Admin</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="__PUBLIC__/admin/css/bootstrap.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/admin/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/admin/css/fullcalendar.css" />
    <link rel="stylesheet" href="__PUBLIC__/admin/css/unicorn.main.css" />
    <link rel="stylesheet" href="__PUBLIC__/admin/css/unicorn.grey.css" class="skin-color" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>

    <include file="Public/header" />

    <include file="Public/sidebar" />

    <div id="style-switcher"> <i class="icon-arrow-left icon-white"></i>
        <span>Style:</span>
        <a href="#grey" style="background-color: #555555;border-color: #aaaaaa;"></a>
        <a href="#blue" style="background-color: #2D2F57;"></a>
        <a href="#red" style="background-color: #673232;"></a>
    </div>

    <div id="content">
        <div id="content-header">

        </div>
        <div id="breadcrumb">
            <a href="#" title="Go to Home" class="tip-bottom">
                <i class="icon-home"></i>
                Home
            </a>
            <a href="#">用户权限</a>
            <a href="#" class="current">用户列表</a>
        </div>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                                        <div class="widget-box">
                                            <div class="widget-title">
                                                <span class="icon">
                                                    <i class="icon-th"></i>
                                                </span>
                                                <h5>Static table</h5>
                                            </div>
                                            <div class="widget-content nopadding">
                                                <table class="table table-bordered table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>序号</th>
                                                            <th>节点结构</th>
                                                            <th>节点ID</th>
                                                            <th>名称</th>
                                                            <th>显示名</th>
                                                            <th>排序名称</th>
                                                            <th>类型</th>
                                                            <th>状态</th>
                                                            <th>操作</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    <volist name="list" id="vo" key="k">
                                                        <tr>
                                                            <td>{$k}</td>
                                                            <td>{$vo.fullname}</td>
                                                            <td>{$vo.id}</td>
                                                            <td>{$vo.name}</td>
                                                            <td>{$vo.title}</td>
                                                            <td>{$vo.sort}</td>
                                                            <td>{$vo.statusTxt}</td>
                                                            <td><a href="#">编辑</a></td>
                                                        </tr>
                                                    </volist>
                                                    </tbody>
                                                </table>                            
                                            </div>
                                        </div>

                                    </div>

            </div>


            <include file="Public/footer" />
        </div>
    </div>

    <script src="__PUBLIC__/admin/js/excanvas.min.js"></script>
    <script src="__PUBLIC__/admin/js/jquery.min.js"></script>
    <script src="__PUBLIC__/admin/js/jquery.ui.custom.js"></script>
    <script src="__PUBLIC__/admin/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/admin/js/jquery.flot.min.js"></script>
    <script src="__PUBLIC__/admin/js/jquery.flot.resize.min.js"></script>
    <script src="__PUBLIC__/admin/js/jquery.peity.min.js"></script>
    <script src="__PUBLIC__/admin/js/fullcalendar.min.js"></script>
    <script src="__PUBLIC__/admin/js/unicorn.js"></script>
    <script src="__PUBLIC__/admin/js/unicorn.dashboard.js"></script>
</body>
</html>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>权限管理-后台管理-{$site.SITE_INFO.name}</title>
        <php>
            $addCss="";
            $addJs="";
            $currentNav ='权限管理 > 管理员列表';
        </php>
        <include file="Common:intoHead" />
    </head>
    <body>
        <div class="wrap">
            <include file="Common:head" />
            <div class="mainBody">
                <include file="Common:left" />
                <div id="Right">
                    <div class="Item hr">
                        <div class="current">管理员列表</div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <include file="Common:foot" />
    </body>
</html>
